<div class="panel-content" [class.collapsed]="collapsedPanel === panel1" #panel1>
    <div class="panel-header {{orientation}}" (click)="collapsePanel(panel1)"><span class="panel-header-label">{{name}}.1</span></div>
    <ng-content *ngIf="collapsedPanel !== panel1" select="[panel=1]"></ng-content>
</div>

<div class="panel-splitter {{orientation}}" #firstSplitter (mousedown)="startDrag$.next({e: $event, targets: [panel1, panel2]}); false;"></div>

<div class="panel-content" [class.collapsed]="collapsedPanel === panel2" #panel2>
    <div class="panel-header {{orientation}}" (click)="collapsePanel(panel2)"><span class="panel-header-label">{{name}}.2</span></div>
    <ng-content *ngIf="collapsedPanel !== panel2" select="[panel=2]"></ng-content>
</div>

<div class="panel-splitter {{orientation}}" #secondSplitter (mousedown)="startDrag$.next({e: $event, targets: [panel2, panel3]}); false;"></div>

<div class="panel-content {{orientation}}" [class.collapsed]="collapsedPanel === panel3" #panel3>
    <div class="panel-header" (click)="collapsePanel(panel3)"><span class="panel-header-label">{{name}}.3</span></div>
    <ng-content *ngIf="collapsedPanel !== panel3" select="[panel=3]"></ng-content>
</div>
