:host {
    display: flex;
}

[direction="row"] .resizable-panel {
    background-color: lightgoldenrodyellow;
}

[direction="column"] .resizable-panel {
    background-color: palegreen;
}

[panel-content-1],
[panel-content-2],
[panel-content-3] {
    display: flex;
}

// nonne of these work for same reason as before: projecting content
// can't be styledby host;
