<ng-content select="[first-panel]"></ng-content>
<splitter horizontal (mousedown)="onMouseDown($event, 0)"></splitter>
<!--<div #splitter class="panel-splitter {{direction}}" #firstSplitter (mousedown)="onMouseDown({e: $event, i: 0}); false;"></div>-->
<ng-content select="[second-panel]"></ng-content>
<splitter horizontal *ngIf="panels.length === 3" (mousedown)="onMouseDown($event, 1)"></splitter>
<!--<div #splitter *ngIf="panels.length === 3" class="panel-splitter {{direction}}" #secondSplitter (mousedown)="onMouseDown({e: $event, i: 1}); false;"></div>-->
<ng-content select="[third-panel]"></ng-content>
