  <panel-container>
    <panel>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis neque pretium tortor condimentum sagittis. Nam ut dolor in enim imperdiet rhoncus. In in quam eu velit commodo accumsan id quis neque. Curabitur blandit faucibus hendrerit. Quisque eget tincidunt ante, at laoreet tellus. Nam id magna ac enim convallis consequat sit amet id tortor. Donec tempus tellus turpis. Fusce id turpis ultrices, rutrum diam condimentum, pharetra massa. Praesent rhoncus nulla tellus. Sed id convallis justo.</p>
      </div>
    </panel>
    <panel>
      <div>
        <p>Nunc molestie hendrerit orci quis iaculis. Vivamus quis consectetur nulla, et pellentesque mauris. Quisque magna libero, aliquam non pharetra a, ultrices sed lorem. Integer sed elit id risus rhoncus pretium. Nulla facilisi. In vel metus et sapien hendrerit vehicula. In consequat lectus ligula, luctus pharetra sem feugiat quis. Praesent luctus felis eget orci hendrerit aliquam. Cras dui orci, gravida quis tincidunt quis, dapibus et enim. Nulla ut commodo tellus. Nam vitae mi a tellus malesuada vestibulum ut quis felis. Fusce eget massa odio. Etiam non faucibus mauris, varius eleifend enim.</p>
      </div>
    </panel>
  </panel-container>
