<div class="layout-container">
  <div class="tri-panel-container">
    <div class="first-panel" [style.flexBasis.px]="firstPanelBasis">
      <div class="panel-header"></div>
      <div class="panel-content"></div>
    </div>
    <div class="second-panel" [style.flexBasis.px]="secondPanelBasis">
      <div class="panel-header"></div>
      <div class="dual-panel-container">
        <div class="first-panel">

        </div>
        <div class="second-panel">

        </div>
      </div>
    </div>
    <div class="third-panel" [style.flexBasis.px]="secondPanelBasis">
      <div class="panel-header"></div>
    </div>
  </div>
</div>
