:host {
    /* added because header was not displaying properly
     * due to defaulting to row, but may not need this
     * if template supplants it */
    display: flex;
    flex-direction: column;
    border: 2px dashed lime;
}
