<ng-content select="[first-panel]"></ng-content>
<div #splitter class="panel-splitter {{direction}}" #firstSplitter (mousedown)="startDrag($event); false;"></div>
<ng-content select="[second-panel]"></ng-content>
<div #splitter *ngIf="panels.length === 3" class="panel-splitter {{direction}}" #secondSplitter (mousedown)="startDrag($event); false;"></div>
<ng-content select="[third-panel]"></ng-content>
<!--<div *ngFor="let p of panels; let i"><ng-content select="[panel-child={{i}}]"></ng-content>-->
<!--<div>test<ng-content select="[panel-child=1]"></ng-content></div>-->
<!--<ng-container *ngFor="let p of array; let i = index">-->
<!--<ng-container *ngFor="let p of panels; let i = index">-->
    <!--<ng-content select="[panel-child=1]"></ng-content>-->
    <!--<ng-content select="p"></ng-content>-->
<!--</ng-container>-->
 <!--<ng-container><ng-content select="[panel-child=1]"></ng-content></ng-container>-->
 <!--<div><ng-content select="panel"></ng-content></div>-->
 <!--<div><ng-content select="[panel-child=1]"></ng-content></div>-->

