<div class="dual-panel-container" [style.flexDirection]="direction" [class.dragging]="isDragging" (window:resize)="onResize()">
  <div class="panel" [class.collapsed]="firstCollapsed" [style.flexBasis.px]="firstPanelSize" [style.display]="'flex'">
    <ng-container *ngIf="firstPanelHeader">
      <div class="panel-header" [class.collapsable]="firstCollapsable" (click)="toggleFirst()">
        <span class="panel-header-label">{{firstPanelHeader}}</span>
        <div *ngIf="firstCollapsed" class="panel-expand-icon">
          <icon-small-arrow [direction]="'e'"></icon-small-arrow>
        </div>
      </div>
    </ng-container>
    <ng-content *ngIf="!firstCollapsed" select="[panel-content-1]"></ng-content>
  </div>

  <div #splitter
      class="panel-splitter {{direction}}"
      (mousedown)="startDrag($event); false;">
  </div>

  <div class="panel" [class.collapsed]="secondCollapsed" [style.flexBasis.px]="secondPanelSize" [style.display]="'flex'">
    <ng-container *ngIf="secondPanelHeader">
      <div class="panel-header" [class.collapsable]="secondCollapsable" (click)="toggleSecond()">
        <span class="panel-header-label">{{secondPanelHeader}}</span>
        <div *ngIf="secondCollapsed" class="panel-expand-icon"><icon-small-arrow [direction]="'w'"></icon-small-arrow></div>
      </div>
    </ng-container>
    <ng-content *ngIf="!secondCollapsed" select="[panel-content-2]"></ng-content>
  </div>
</div>

<!--
  TODO:
    * maybe consider making a separate splitter component
    * maybe add another content selector that checks for a provided handle
    * maybe take an attribute that will determine if the splitter is thick/thin
    * class may be unncessary / id may be unncessary
    * maybe rename variables to something more semanticly nice... panelBasis1 or basisPanel1
-->
