<div class="panel" [style.flexBasis.px]="firstPanelSize">
  <ng-content select="[panel-content-1]" [style.flexBasis.px]="firstPanelSize"></ng-content>
</div>

<div #splitter
     class="panel-splitter"
     [class.dragging]="isDragging"
     (mousedown)="test$.next($event); false;">
</div>

<div class="panel" [style.flexBasis.px]="secondPanelSize">
  <ng-content select="[panel-content-2]"></ng-content>
</div>

<!--
  TODO:
    * maybe consider making a separate splitter component
    * maybe add another content selector that checks for a provided handle
    * maybe take an attribute that will determine if the splitter is thick/thin
    * class may be unncessary / id may be unncessary
    * maybe rename variables to something more semanticly nice... panelBasis1 or basisPanel1
-->
