// use funtion form to conditionally apply styles
// eg. :host([direction="column"]) { }
//     :host(:not(.collapsed)) { }
// careful with direction=row because since it is default it isn't
// always when the component is declared in the markup

:host {
    display: flex;
}

// this may not need to remain here just giving some breathing room
// to my dummy content
.panel {
    padding: 9px;
    box-sizing: border-box;
}

.panel-splitter {
    position: relative;
    cursor: w-resize;
    background-color: gray;
    flex-basis: 4px;
    &:hover {
        background-color: #007cff; //@boldblue
    }
    &::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: -5px;
        width: 14px;
        height: 100%;
    }
}

.panel-splitter.dragging {
    background-color: #007cff;
}

// :host([direction="column"]) {
//     margin: 4px 0;
// }
