@deep: ~"/deep/";

:host {
    display: flex;
    flex-grow: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.panel-content {
    flex-direction: column;
    overflow: hidden;
    border: none;
    // transition: flex-basis 300ms ease-out;
}

.panel-content > @{deep} {
    flex-grow: 1;
    overflow-y: auto;
}

.panel-splitter {
    position: relative;
    background-color: gray;
    flex: 0 0 4px;
    &:hover {
        background-color: #007cff; //@boldblue
    }
    &.vertical::after {
        content: ' ';
        position: absolute;
        cursor: w-resize;
        top: 0;
        left: -5px;
        width: 14px;
        height: 100%;
    }
    &.horizontal::after {
        content: ' ';
        position: absolute;
        cursor: n-resize;
        left: 0;
        top: -5px;
        height: 14px;
        width: 100%;
    }
}
